<section class="section chocolate-section" id="chocolate">
  <div class="container chocolate-container">
    <h2 class="section-title">
      <span class="title-accent">CHOCOLATE</span> IS LOVED
    </h2>
    <div class="wrapper">
      <!-- Additional required wrapper -->
      <ul class="slider">
        <!-- Slides -->

        <li class="slider__item">
          <div class="chocolate-cont">
            <img
              class="image-chocolate"
              srcset="/img/victoria@2x.png"
              src="/img/victoria.png"
              width="80"
              alt=""
            />
            <div class="chocolate-box special-box">
              <h3 class="chocolate-title">Victoria Dobrzhanska</h3>
              <p class="chocolate-text">
                I love this chocolate bar. Perfect combination of light crispy
                wafer, covered in a thin layer chocolate
              </p>
            </div>
          </div>
        </li>
        <li class="slider__item">
          <div class="chocolate-cont">
            <img
              class="image-chocolate"
              srcset="/img/nazar@2x.png"
              src="/img/nazar.png"
              width="80"
              alt=""
            />
            <div class="chocolate-box">
              <h3 class="chocolate-title">Nazar Babenko</h3>
              <p class="chocolate-text">
                This chocolate confection is a delight! A delight! The wafer is
                light and crisp, the hazelnut cream is smooth, and the chocolate
                is good.
              </p>
            </div>
          </div>
        </li>
        <li class="slider__item">
          <div class="chocolate-cont">
            <img
              class="image-chocolate"
              srcset="/img/olena@2x.png"
              src="/img/olena.png"
              width="80"
              alt=""
            />
            <div class="chocolate-box">
              <h3 class="chocolate-title">Olena Kampusch</h3>
              <p class="chocolate-text">
                Chocolate is a family favourite treat. Love the delicious smooth
                chocolate and the creaminess inside. The wafer is soft but
                crunchy.
              </p>
            </div>
          </div>
        </li>
        <li class="slider__item">
          <div class="chocolate-cont">
            <img
              class="image-chocolate"
              srcset="/img/natalia@2x.png"
              src="/img/natalia.png"
              width="80"
              alt=""
            />
            <div class="chocolate-box">
              <h3 class="chocolate-title">Natalia Sus</h3>
              <p class="chocolate-text">
                The chocolate assortment was delicious. Both dark and milk
                chocolate pieces were smooth and just right on the sweetness
                level.
              </p>
            </div>
          </div>
        </li>
        <li class="slider__item">
          <div class="chocolate-cont">
            <img
              class="image-chocolate"
              srcset="/img/danilo@2x.png"
              src="/img/danilo.png"
              width="80"
              alt=""
            />
            <div class="chocolate-box">
              <h3 class="chocolate-title">Danilo Nottingham</h3>
              <p class="chocolate-text">
                This is delicious. It so rich and flavorful you don’t need to
                use as many. I love topping an apple with almond butter and
                these chips for a snack.
              </p>
            </div>
          </div>
        </li>
        <li class="slider__item">
          <div class="chocolate-cont">
            <img
              class="image-chocolate"
              srcset="/img/irina@2x.png"
              src="/img/irina.png"
              width="80"
              alt=""
            />
            <div class="chocolate-box">
              <h3 class="chocolate-title">Irina Tydnyuk</h3>
              <p class="chocolate-text">
                This is simply the best chocolate around, and I'm just thrilled
                to support a local company! Best local chocolate - world class
                :)
              </p>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <button type="button" class="button-leave js-open-modal" data-modal="2">
      Leave a review
    </button>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script
      type="text/javascript"
      src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"
    ></script>
  </div>
</section>
