<section class="section">
    <div class="container">
        <h2 class="section-title" > <span class="title-accent">CHOCOLATE</span> IS LOVED</h2>
        <div class="swiper chocolate-slider">
            <!-- Additional required wrapper -->
            <ul class="swiper-wrapper">
                <!-- Slides -->
        
                <li class="swiper-slide">
                    <div class="image-wrapper">
                        <img src="../img/victoria.jpg" width="80" alt="" />
                        <div class="chocolate-box">
                            <h3 class="chocolate-title">Victoria Dobrzhanska</h3>
                            <p class="chocolate-text">I love this chocolate bar. Perfect combination of light crispy wafer, covered in a thin layer chocolate</p>
                            
                        </div>
                    </div>
                </li>
                <li class="swiper-slide">
                    <div class="image-wrapper">
                        <img src="../img/nazar.jpg" width="80" alt="" />
                        <div class="chocolate-box">
                            <h3 class="chocolate-title">Nazar Babenko</h3>
                            <p class="chocolate-text">This chocolate confection is a delight! A delight! The wafer is light and crisp, the hazelnut cream is smooth, and the
                            chocolate is good.</p>
                           
                        </div>
                    </div>
                </li>
                <li class="swiper-slide">
                    <div class="image-wrapper">
                        <img src="../img/lena.jpg" width="80" alt="" />
                        <div class="chocolate-box">
                            <h3 class="chocolate-title">Olena Kampusch</h3>
                            <p class="chocolate-text">Chocolate is a family favourite treat. Love the delicious smooth chocolate and the creaminess inside. The wafer is soft
                            but crunchy.</p>
                            
                        </div>
                    </div>
                </li>
                <li class="swiper-slide">
                    <div class="image-wrapper">
                        <img src="../img/natalia.jpg" width="80" alt=" " />
                        <div class="chocolate-box">
                            <h3 class="chocolate-title">Natalia Sus</h3>
                            <p class="chocolate-text">The chocolate assortment was delicious. Both dark and milk chocolate pieces were smooth and just right on the sweetness
                            level.</p>
                            
                        </div>
                    </div>
                </li>
                <li class="swiper-slide">
                    <div class="image-wrapper">
                        <img src="../img/danilo.jpg" width="80" alt=" " />
                        <div class="chocolate-box">
                            <h3 class="chocolate-title">Danilo Nottingham</h3>
                            <p class="chocolate-text">This is delicious. It so rich and flavorful you don’t need to use as many. I love topping an apple with almond butter
                            and these chips for a snack.</p>
                           
                        </div>
                    </div>
                </li>
                <li class="swiper-slide">
                    <div class="image-wrapper">
                        <img src="../img/irina.jpg" width="80" alt="" />
                        <div class="chocolate-box">
                            <h3 class="chocolate-title">Irina Tydnyuk</h3>
                            <p class="chocolate-text">This is simply the best chocolate around, and I'm just thrilled to support a local company! Best local chocolate - world
                            class :) </p>
                           
                        </div>
                    </div>
                </li>
                  
            </ul>
            <!-- If we need pagination -->
            <div class="chocolate-swiper-pagination"></div>
        </div>

        <button type="button" class="leave-button">Leave a review</button>
    </div>
</section>

