<section class="form">
  <!-- Элементы для вызова модальных окон, могут быть любые -->

  <!-- Несколько модальных окон -->
  <!-- -------------------------BUY NOW--------------------------- -->
  <div class="modal modal-buy-now" data-modal="1">
    <!--   Svg иконка для закрытия окна  -->
    <svg class="modal__cross js-modal-close" viewBox="0 0 24 24">
      <use href="/img/icons.svg#icon-x-close-mob"></use>
    </svg>
    <h2 class="section-title"><span class="title-accent">BUY </span>NOW</h2>

    <div class="wrapper">
      <!-- Additional required wrapper -->
      <ul class="slider">
        <!-- Slides -->

        <li class="slider__item">
          <div class="weight-item">
            <picture class="modal-image">
              <source
                srcset="
                  /img/modal/100g-mobile.jpg    1x,
                  /img/modal/100g-mobile@2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <source
                srcset="
                  /img/modal/100g.jpg           1x,
                  /img/modal/100g-mobile@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />

              <img src="/img/modal/100g.jpg" alt="Buy some chocolate" />
            </picture>
            <div class="products-box">
              <button type="button" class="products-button">100 g</button>
            </div>
          </div>
        </li>
        <li class="slider__item">
          <div class="weight-item">
            <picture class="modal-image">
              <source
                srcset="
                  /img/modal/200g-mobile.jpg    1x,
                  /img/modal/200g-mobile@2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <source
                srcset="
                  /img/modal/200g.jpg           1x,
                  /img/modal/200g-mobile@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />

              <img src="/img/modal/200g.jpg" alt="Buy some chocolate" />
            </picture>
            <div class="products-box">
              <button type="button" class="products-button">200 g</button>
            </div>
          </div>
        </li>

        <li class="slider__item">
          <div class="weight-item">
            <picture class="modal-image">
              <source
                srcset="
                  /img/modal/300g-mobile.jpg    1x,
                  /img/modal/300g-mobile@2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <source
                srcset="
                  /img/modal/300g.jpg           1x,
                  /img/modal/300g-mobile@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />

              <img src="/img/modal/300g.jpg" alt="Buy some chocolate" />
            </picture>
            <div class="products-box">
              <button type="button" class="products-button">300 g</button>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="table-buy-how">
      <div class="table-buy-cards">
        <div class="weight-item">
          <picture class="modal-image">
            <source
              srcset="
                /img/modal/100g-mobile.jpg    1x,
                /img/modal/100g-mobile@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <source
              srcset="/img/modal/100g.jpg 1x, /img/modal/100g-mobile@2x.jpg 2x"
              media="(min-width: 768px)"
            />

            <img src="/img/modal/100g.jpg" alt="Buy some chocolate" />
          </picture>
          <div class="products-box">
            <button type="button" class="products-button">100 g</button>
          </div>
        </div>

        <div class="weight-item">
          <picture class="modal-image">
            <source
              srcset="
                /img/modal/200g-mobile.jpg    1x,
                /img/modal/200g-mobile@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <source
              srcset="/img/modal/200g.jpg 1x, /img/modal/200g-mobile@2x.jpg 2x"
              media="(min-width: 768px)"
            />

            <img src="/img/modal/200g.jpg" alt="Buy some chocolate" />
          </picture>
          <div class="products-box">
            <button type="button" class="products-button">200 g</button>
          </div>
        </div>
        <div class="weight-item">
          <picture class="modal-image">
            <source
              srcset="
                /img/modal/300g-mobile.jpg    1x,
                /img/modal/300g-mobile@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <source
              srcset="/img/modal/300g.jpg 1x, /img/modal/300g-mobile@2x.jpg 2x"
              media="(min-width: 768px)"
            />

            <img src="/img/modal/300g.jpg" alt="Buy some chocolate" />
          </picture>
          <div class="products-box">
            <button type="button" class="products-button">300 g</button>
          </div>
        </div>
      </div>
    </div>

    <form class="form-container">
      <div class="form-name">
        <label class="label" for="user-name">Personal information</label>
        <input
          class="input"
          type="text"
          name="user-name"
          id="user-name"
          placeholder="Name"
        />
        <input
          class="input-surname"
          type="text"
          name="user-rurname"
          id="user-surname"
          placeholder="Surname"
        />
        <label class="label-surname hidden" for="user-surname"></label>
      </div>
      <div class="form-info">
        <label class="label" for="user-mail">Email</label>
        <input
          class="input"
          type="email"
          name="user-mail"
          id="user-mail"
          placeholder="Enter your email"
        />

        <label class="label" for="user-phone">Phone number</label>
        <div class="number-box">
          <input
            class="input"
            type="tel"
            name="user-phone"
            id="user-phone"
            placeholder="Phone number"
          />
          <div class="number-icons">
            <svg class="ua-icon">
              <use href="/img/icons.svg#icon-ukraine"></use>
            </svg>
            <p class="number-code">+380</p>
          </div>
        </div>

        <label class="label" for="user-card">Card number</label>
        <div class="card-box">
          <input
            class="input"
            type="number"
            name="user-card"
            id="user-card"
            placeholder="Enter card"
          />
          <svg class="card-icon">
            <use href="/img/icons.svg#icon-mastercard"></use>
          </svg>
        </div>

        <label class="label" for="comment">Comment</label>
        <textarea
          class="text-area"
          name="comment"
          id="comment"
          placeholder="Enter text"
        ></textarea>
      </div>

      <button
        class="button button-buy js-open-modal"
        type="submit"
        data-modal="4"
      >
        <span class="submit-btn-text">Submit</span>
      </button>
    </form>
  </div>

  <!---------------- LEAVE ------------------>
  <div class="modal modal-leave" data-modal="2">
    <!--   Svg иконка для закрытия окна  -->
    <svg class="modal__cross js-modal-close" viewBox="0 0 24 24">
      <use href="/img/icons.svg#icon-x-close-mob"></use>
    </svg>
    <h2 class="section-title">
      LEAVE A REVIEW <br />
      ABOUT <span class="title-accent">OUR CHOCOLATE</span>
    </h2>
    <h2 class="section-title-tablet">
      LEAVE A REVIEW ABOUT<br />
      <span class="title-accent">OUR CHOCOLATE</span>
    </h2>
    <form class="form-container">
      <label class="label" for="user-name1"></label>
      <input
        class="input"
        type="text"
        name="user-name"
        id="user-name1"
        placeholder="Name"
      />
      <label class="label" for="user-mail1"></label>
      <input
        class="input"
        type="email"
        name="user-mail"
        id="user-mail1"
        placeholder="Enter your email"
      />
      <label class="label" for="user-phone1"></label>
      <div class="number-box">
        <input
          class="input"
          type="tel"
          name="user-phone"
          id="user-phone1"
          placeholder="Phone number"
        />
        <div class="number-icons">
          <svg class="ua-icon">
            <use href="/img/icons.svg#icon-ukraine"></use>
          </svg>
          <p class="number-code">+380</p>
        </div>
      </div>

      <label class="" for="comment1"></label>
      <textarea
        class="text-area"
        name="comment"
        id="comment1"
        placeholder="Enter text"
      ></textarea>
      <button
        class="button button-buy js-open-modal"
        type="submit"
        data-modal="5"
      >
        <span class="submit-btn-text">Send</span>
      </button>
    </form>
  </div>

  <!-------------------------- SUBSCRIBE -------------------------->
  <div class="modal modal-subscribe" data-modal="3">
    <!--   Svg иконка для закрытия окна  -->
    <svg class="modal__cross js-modal-close" viewBox="0 0 24 24">
      <use href="/img/icons.svg#icon-x-close-mob"></use>
    </svg>

    <picture class="modal-subscribe-image">
      <source
        srcset="
          /img/modal/subscr-mobile.jpg    1x,
          /img/modal/subscr-mobile@2x.jpg 2x
        "
        media="(max-width: 767px)"
      />
      <source
        srcset="/img/modal/subscr.jpg 1x, /img/modal/subscr@2x.jpg 2x"
        media="(min-width: 768px)"
      />

      <img src="/img/modal/subscr.jpg" alt="Buy some chocolate" />
    </picture>
    <div class="modal-text-container">
      <h2 class="section-title">
        EXPLORE OUR <br />
        <span class="title-accent">NEW CHOCOLATE</span> FIRST!
      </h2>
      <form class="form-container">
        <div class="modal-subscr-button">
          <label class="hidden" for="user-mail2">email</label>
          <input
            class="input"
            type="email"
            name="user-mail"
            id="user-mail2"
            placeholder="Enter your email"
          />
          <button class="button button-buy" type="submit">
            <span class="submit-btn-text">Submit</span>
          </button>
        </div>
      </form>
    </div>
  </div>

  <!-------------------------- THANK YOU ----------------------------->
  <div class="modal modal-thanks" data-modal="4">
    <!--   Svg иконка для закрытия окна  -->
    <svg class="modal__cross js-modal-close" viewBox="0 0 24 24">
      <use href="/img/icons.svg#icon-x-close-mob"></use>
    </svg>
    <div class="modal-text-section">
      <h2 class="section-title">THANK YOU!</h2>
      <p class="modal-thanks-text">
        We are glad that you ordered our chocolate and we are giving you a 20%
        discount on all our products.
      </p>
    </div>
    <picture class="modal-thanks-image">
      <source
        srcset="
          /img/modal/thank-you-mobile.webp    1x,
          /img/modal/thank-you-mobile@2x.webp 2x
        "
        media="(max-width: 767px)"
      />
      <source
        srcset="/img/modal/thank-you.webp 1x, /img/modal/thank-you@2x.webp 2x"
        media="(min-width: 768px)"
      />

      <img src="/img/modal/thank-you.webp" alt="Buy some chocolate" />
    </picture>
  </div>

  <!-- -------------------------FEEDBACK --------------------------->
  <div class="modal modal-feedback" data-modal="5">
    <!--   Svg иконка для закрытия окна  -->
    <svg class="modal__cross js-modal-close">
      <use href="/img/icons.svg#icon-x-close-mob"></use>
    </svg>
    <div class="modal-text-section">
      <h2 class="section-title modal-thanks-title">
        THANK YOU<br />FOR YOUR FEEDBACK!
      </h2>
      <p class="modal-thanks-text">We are so happy to hear<br />from you!</p>
    </div>
    <picture class="modal-thanks-image">
      <source
        srcset="
          /img/modal/thank-you-mobile.webp    1x,
          /img/modal/thank-you-mobile@2x.webp 2x
        "
        media="(max-width: 767px)"
      />
      <source
        srcset="/img/modal/thank-you.webp 1x, /img/modal/thank-you@2x.webp 2x"
        media="(min-width: 768px)"
      />

      <img src="/img/modal/thank-you.webp" alt="chocolate" />
    </picture>
  </div>

  <!-- Подложка под модальным окном -->
  <div class="modal-overlay js-overlay-modal"></div>
</section>
