    <header>
      <div class="container header">
        <div class="div-logo">
          <a href="./header.html" class="logo-header"
            ><span class="logo-simply-header">SIMPLY</span> CHOCOLATE
          </a>
          <svg class="svg-logo">
            <use href="/img/icons.svg#icon-logo"></use>
          </svg>
        </div>
        <nav>
          <ul class="nav-list">
            <li><a href="#" class="nav-item">Home</a></li>
            <li><a href="#" class="nav-item">How it's made?</a></li>
            <li><a href="#" class="nav-item">Our products</a></li>
            <li><a href="#" class="nav-item">Top sellers</a></li>
            <li><a href="#" class="nav-item">Chocolate is loved</a></li>
          </ul>
        </nav>
        <ul class="social-links-header">
          <li>
            <a href="" class="social-link">
              <svg class="svg-social-links">
                <use href="/img/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="" class="social-link">
              <svg class="svg-social-links">
                <use href="/img/icons.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
        </ul>

        <div class="mobile-menu js-menu-container">
          <button type="button" class="button-close-menu js-close-menu">
            <svg class="svg-close-menu">
              <use href="/img/icons.svg#icon-cross"></use>
            </svg>
          </button>
          <nav>
            <ul class="nav-list-mobile">
              <li><a href="#" class="nav-item-mobile">Home</a></li>
              <li><a href="#" class="nav-item-mobile">How it's made?</a></li>
              <li><a href="#" class="nav-item-mobile">Our products</a></li>
              <li><a href="#" class="nav-item-mobile">Top sellers</a></li>
              <li>
                <a href="#" class="nav-item-mobile">Chocolate is loved</a>
              </li>
            </ul>
          </nav>
          <ul class="social-links-mobile">
            <li>
              <a href="" class="social-link-mobile">
                <svg class="svg-social-links-mobile">
                  <use href="/img/icons.svg#icon-instagram"></use></svg></a>
            </li>
            <li>
              <a href="" class="social-link-mobile">
                <svg class="svg-social-links-mobile">
                  <use href="/img/icons.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>

        <button type="button" class="burger-button js-open-menu">
          <svg class="svg-burger">
            <use href="/img/icons.svg#icon-menu-tablet"></use>
          </svg>
        </button>
      </div>
    </header>
    <main>
      <section class="hero-section">
        <div class="container hero-container">
          <h1 class="hero-header">Chocolate</h1>
          <p class="hero-p">
            Treat yourself or a loved one to<br>
            our finest ingredients for a moment of pure delight!
          </p>
          <div class="button-div">
            <ul class="button-buy-how">
              <li>
                <button type="button" class="button button-buy">Buy now</button>
              </li>
              <li>
                <button type="button" class="button button-how">
                  How it's made
                </button>
              </li>
            </ul>
            
              <div class="scroll">
                <p class="scroll-p">scroll down</p>
             
                  <a href="" class="scroll-link"
                    ><svg class="svg-scroll">
                      <use href="/img/icons.svg#icon-down"></use></svg></a>
               
              </div>
            
          </div>
        </div>
      </section>
