<header id="home">
  <div class="container header">
    <div class="div-logo">
      <a href="./header.html" class="logo-header"
        ><span class="logo-simply-header">SIMPLY</span> CHOCOLATE
      </a>
      <svg class="svg-logo">
        <use href="/img/icons.svg#icon-logo"></use>
      </svg>
    </div>
    <nav class="navigation">
      <ul class="nav-list">
        <li><a href="#home" class="nav-item">Home</a></li>
        <li><a href="#how" class="nav-item">How it's made?</a></li>
        <li><a href="#our" class="nav-item">Our products</a></li>
        <li><a href="#top" class="nav-item">Top sellers</a></li>
        <li><a href="#chocolate" class="nav-item">Chocolate is loved</a></li>
      </ul>
    </nav>
    <ul class="social-links-header">
      <li>
        <a href="instagram.com" class="social-link">
          <svg class="svg-social-links">
            <use href="/img/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="twitter.com" class="social-link">
          <svg class="svg-social-links">
            <use href="/img/icons.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>
    </ul>

    <div class="mobile-menu js-menu-container">
      <button
        type="button"
        aria-label="menu"
        class="button-close-menu js-close-menu"
      >
        <svg class="svg-close-menu">
          <use href="/img/icons.svg#icon-cross"></use>
        </svg>
      </button>
      <nav>
        <ul class="nav-list-mobile">
          <li><a href="#home" class="nav-item-mobile">Home</a></li>
          <li><a href="#how" class="nav-item-mobile">How it's made?</a></li>
          <li><a href="#our" class="nav-item-mobile">Our products</a></li>
          <li><a href="#top" class="nav-item-mobile">Top sellers</a></li>
          <li>
            <a href="#chocolate" class="nav-item-mobile">Chocolate is loved</a>
          </li>
        </ul>
      </nav>
      <ul class="social-links-mobile">
        <li>
          <a href="" class="social-link-mobile">
            <svg class="svg-social-links-mobile">
              <use href="/img/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="" class="social-link-mobile">
            <svg class="svg-social-links-mobile">
              <use href="/img/icons.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>

    <button type="button" class="burger-button js-open-menu">
      <svg class="svg-burger">
        <use href="/img/icons.svg#icon-menu-tablet"></use>
      </svg>
    </button>
  </div>
</header>
