<section class="hero-section">
  <div class="hero-container">
    <div class="hero-box">
      <h1 class="hero-header">Chocolate</h1>
      <p class="hero-p">
        Treat yourself or a loved one to our finest ingredients for a moment of
        pure delight!
      </p>
      <p class="hero-p-desktop">
        Treat yourself or a loved one to <br />
        our finest ingredients for a moment of pure delight!
      </p>
      <div class="button-div">
        <ul class="button-buy-how">
          <li>
            <button
              type="button"
              class="button button-buy js-open-modal"
              data-modal="1"
            >
              Buy now
            </button>
          </li>
          <li>
            <a href="#how" type="button" class="button button-how">
              How it's made
            </a>
          </li>
        </ul>

        <div class="scroll">
          <a href="#footer" class="scroll-p">scroll down</a>

          <a href="#footer" class="scroll-link"
            ><svg class="svg-scroll">
              <use href="/img/icons.svg#icon-down-mobile"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
