<section class="section">
  <div class="container">
    <h2 class="section-title">
      OUR <span class="title-accent">PRODUCTS</span>
    </h2>
    <!-- Slider main container -->
    <div class="swiper image-slider">
      <!-- Additional required wrapper -->
      <ul class="swiper-wrapper">
        <!-- Slides -->

        <li class="swiper-slide">
          <div class="image-wrapper">
            <img src="../img/our/orange.jpg" width="230 px" alt="" />
          </div>
        </li>
        <li class="swiper-slide">
          <div class="image-wrapper">
            <img src="../img/our/apple.jpg" width="230px" alt="" />
          </div>
        </li>
        <li class="swiper-slide">
          <div class="image-wrapper">
            <img src="../img/our/lime.jpg" width="230px" alt="" />
          </div>
        </li>
        <li class="swiper-slide">
          <div class="image-wrapper">
            <img src="../img/our/pineapple.jpg" width="230px" alt="" />
          </div>
        </li>
        <li class="swiper-slide">
          <div class="image-wrapper">
            <img src="../img/our/classic-black.jpg" width="230px" alt="" />
          </div>
        </li>
        <li class="swiper-slide">
          <div class="image-wrapper">
            <img src="../img/our/honey.jpg" width="230px" alt="" />
          </div>
        </li>
        <li class="swiper-slide">
          <div class="image-wrapper">
            <img src="../img/our/roasted.jpg" width="230px" alt="" />
          </div>
        </li>
        <li class="swiper-slide">
          <div class="image-wrapper">
            <img src="../img/our/classic-white.jpg" width="230px" alt="" />
          </div>
        </li>
      </ul>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
