<section class="section">
  <div class="container">
    <h2 class="section-title">
      OUR <span class="title-accent">PRODUCTS</span>
    </h2>
    <!-- Slider main container -->
    <div class="swiper image-slider">
      <!-- Additional required wrapper -->
      <ul class="swiper-wrapper">
        <!-- Slides -->

        <li class="swiper-slide">
          <div class="image-wrapper">
            <img src="/img/our/orange.jpg" width="230px" alt="" />
            <div class="products-box">
              <h3 class="products-title">ORANGE</h3>
              <p class="products-text">Dark chocolate</p>
              <button type="button" class="products-button">45 UAH</button>
            </div>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="image-wrapper">
            <img src="/img/our/apple.jpg" width="230px" alt="" />
            <div class="products-box">
              <h3 class="products-title">APPLE&CRANBERRY</h3>
              <p class="products-text">Milk chocolate</p>
              <button type="button" class="products-button">50 UAH</button>
            </div>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="image-wrapper">
            <img src="/img/our/lime.jpg" width="230px" alt="" />
            <div class="products-box">
              <h3 class="products-title">LIME&SEA SALT</h3>
              <p class="products-text">Dark chocolate</p>
              <button type="button" class="products-button">66 UAH</button>
            </div>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="image-wrapper">
            <img src="/img/our/pineapple.jpg" width="230px" alt="" />
            <div class="products-box">
              <h3 class="products-title">PINEAPPLE</h3>
              <p class="products-text">Dark chocolate</p>
              <button type="button" class="products-button">54 UAH</button>
            </div>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="image-wrapper">
            <img src="/img/our/classic-black.jpg" width="230px" alt="" />
            <div class="products-box">
              <h3 class="products-title">CLASSIC</h3>
              <p class="products-text">Milk chocolate</p>
              <button type="button" class="products-button">45 UAH</button>
            </div>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="image-wrapper">
            <img src="/img/our/honey.jpg" width="230px" alt="" />
            <div class="products-box">
              <h3 class="products-title">HONEY</h3>
              <p class="products-text">Milk chocolate</p>
              <button type="button" class="products-button">50 UAH</button>
            </div>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="image-wrapper">
            <img src="/img/our/roasted.jpg" width="230px" alt="" />
            <div class="products-box">
              <h3 class="products-title">ROASTED FRUITS</h3>
              <p class="products-text">Dark chocolate</p>
              <button type="button" class="products-button">66 UAH</button>
            </div>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="image-wrapper">
            <img src="/img/our/classic-white.jpg" width="230px" alt="" />
            <div class="products-box">
              <h3 class="products-title">CLASSIC</h3>
              <p class="products-text">White chocolate</p>
              <button type="button" class="products-button">54 UAH</button>
            </div>
          </div>
        </li>
      </ul>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
