
<section class="section">
  <div class="container">
      <h2 class="section-title">
        IT ALL ADDS UP TO ONE<br>
        EXCEPTIONAL <span class="title-accent">TASTE</span> SENSATION
      </h2>
      <p>
        At Simply Chocolate, we believe that the secret to exceptional chocolate is in the details. From the sourcing of the finest ingredients to the careful crafting of each individual piece, every step of our process adds up to one exceptional taste sensation.
      </p>

    <ul class="taste-list">
      <li class="taste-list-chocolate">
        <img 
              srcset="../img/taste/chocolate-mobile.png 224w, ../img/taste/chocolate-mobile@2x.png 448w"
              sizes="224px"
              src="../img/taste/chocolate-mobile.png"
              alt="Chocolate"
            />
            <h3 class="description-white">MILK CHOCOLATE</h3>
      </li>
      <li class="taste-list-milk">
        <img
              srcset="../img/taste/milk-mobile.png 224w, ../img/taste/milk-mobile@2x.png 448w"
              sizes="224px"
              src="../img/taste/milk-mobile.png"
              alt="Milk"
            />
            <h3 class="description-black">MILK</h3>
      </li>
      <li class="taste-list-nuts">
        <img
              srcset="../img/taste/nuts-mobile.png 224w, ../img/taste/nuts-mobile@2x.png 448w"
              sizes="224px"
              src="../img/taste/nuts-mobile.png"
              alt="Nuts"
            />
            <h3 class="description-white">NUTS</h3>
      </li>
      <li class="taste-list-glaze">
        <img
              srcset="../img/taste/glaze-mobile.png 224w, ../img/taste/glaze-mobile@2x.png 448w"
              sizes="224px"
              src="../img/taste/glaze-mobile.png"
              alt="Glaze"
            />
            <h3 class="description-black">SEMI-SWEET CHOCOLATE</h3>
      </li>
    </ul>
  </div>
</section>