<section class="section">
  <div class="container">
    <h2 class="section-title">
      IT ALL ADDS UP TO ONE<br />
      EXCEPTIONAL <span class="title-accent">TASTE</span> SENSATION
    </h2>
    <p class="taste-details-text">
      At Simply Chocolate, we believe that the secret to exceptional chocolate
      is in the details. From the sourcing of the finest ingredients to the
      careful crafting of each individual piece, every step of our process adds
      up to one exceptional taste sensation.
    </p>

    <ul class="taste-list">
      <li class="taste-list-chocolate">
        <div class="overlay">
          <h3>MILK CHOCOLATE</h3>
          <ul class="tags-list">
            <li class="item-name">
              <p>chocolate</p>
            </li>
            <li class="benefits">
              <p>the benefits</p>
            </li>
          </ul>
          <p class="text-overlay">
            Milk chocolate is a solid chocolate confectionery containing cocoa,
            sugar and milk. It is the most consumed type of chocolate. Chocolate
            was originally sold and consumed as a beverage in pre-Columbian
            times. Although four-fifths of all milk chocolate is sold in the
            United States and Europe, increasingly large amounts are consumed in
            China and Latin America.
          </p>
        </div>

        <picture class="taste-image">
          <source
            srcset="
                /img/taste/chocolate-desktop.png    1x
                /img/taste/chocolate-desktop@2x.png 2x
              "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
                /img/taste/chocolate-mobile.png    1x
                /img/taste/chocolate-mobile@2x.png 2x
                "
            media="(max-width: 1200px)"
          />
          <img src="/img/taste/chocolate-mobile.png" alt="Chocolate" />
        </picture>

        <h3 class="description-white">MILK CHOCOLATE</h3>
      </li>
      <li class="taste-list-milk">
        <div class="overlay">
          <h3>MILK</h3>
          <ul class="tags-list">
            <li class="item-name">
              <p>milk</p>
            </li>
            <li class="benefits">
              <p>the benefits</p>
            </li>
          </ul>
          <p class="text-overlay">
            Milk is a white liquid food produced by the mammary glands of
            mammals. It is the primary source of nutrition for young mammals
            (including breastfed human infants) before they are able to digest
            solid food.Early-lactation milk, which is called colostrum, contains
            antibodies that strengthen the immune system, and thus reduces the
            risk of many diseases. Milk contains many nutrients, including
            protein and lactose.
          </p>
        </div>

        <picture class="taste-image">
          <source
            srcset="
                  /img/taste/milk-desktop.png    1x
                  /img/taste/milk-desktop@2x.png 2x
                "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
                  /img/taste/milk-mobile.png    1x
                  /img/taste/milk-mobile@2x.png 2x
                  "
            media="(max-width: 1200px)"
          />
          <img src="/img/taste/milk-mobile.png" alt="Milk" />
        </picture>

        <h3 class="description-black">MILK</h3>
      </li>
      <li class="taste-list-nuts">
        <div class="overlay">
          <h3>NUTS</h3>
          <ul class="tags-list">
            <li class="item-name">
              <p>nuts</p>
            </li>
            <li class="benefits">
              <p>the benefits</p>
            </li>
          </ul>
          <p class="text-overlay">
            Almonds, pistachios, and walnuts are some types of nuts that contain
            healthy nutrients. When eaten as part of a nutrient-dense diet,
            these 9 nuts may offer benefits such as reducing your risk of heart
            disease. They’re a good source of fiber, healthy fats, and plant
            protein. Plus, they’re great on their own, paired with fruit, or
            added to dishes like salads, desserts, and grains.
          </p>
        </div>

        <picture class="taste-image">
          <source
            srcset="
                  /img/taste/nuts-desktop.png    1x
                  /img/taste/nuts-desktop@2x.png 2x
                "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
                  /img/taste/nuts-mobile.png    1x
                  /img/taste/nuts-mobile@2x.png 2x
                  "
            media="(max-width: 1200px)"
          />
          <img src="/img/taste/nuts-mobile.png" alt="Nuts" />
        </picture>

        <h3 class="description-white">NUTS</h3>
      </li>
      <li class="taste-list-glaze">
        <div class="overlay">
          <h3>
            SEMI - SWEET<br />
            CHOCOLATE
          </h3>
          <ul class="tags-list">
            <li class="item-name">
              <p>sweet chocolate</p>
            </li>
            <li class="benefits">
              <p>the benefits</p>
            </li>
          </ul>
          <p class="text-overlay">
            Semi-sweet chocolate has a cocoa solid content of 35 to 65%. One of
            the best ways to gain an understanding of this type of chocolate is
            to compare it to a different type of chocolate. Semisweet is darker
            than milk chocolate. In a taste comparison, it has a slightly bitter
            taste whereas milk chocolate is sweeter and more mellow. This
            delectable flavor of chocolate is very versatile.
          </p>
        </div>

        <picture class="taste-image">
          <source
            srcset="
                  /img/taste/glaze-desktop.png    1x
                  /img/taste/glaze-desktop@2x.png 2x
                "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
                  /img/taste/glaze-mobile.png    1x
                  /img/taste/glaze-mobile@2x.png 2x
                  "
            media="(max-width: 1200px)"
          />
          <img src="/img/taste/glaze-mobile.png" alt="Glaze" />
        </picture>

        <h3 class="description-black">SEMI-SWEET CHOCOLATE</h3>
      </li>
    </ul>
  </div>
</section>
