button {
  padding: 12px 28px;
  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  color: var(--button-text);
  border-radius: 100px;
}

.button-buy {
  border-color: transparent;
  background-color: var(--accent-color);
}

.button-buy:hover,
.button-subscr:hover,
.button-buy:focus,
.button-subscr:focus {
  color: var(--accent-color);
  background-color: #fcf1e0;
}

.button-how {
  color: var(--button-text);
  background-color: transparent;
  border: 1px solid var(--button-text);
}

.button-how:hover,
.button-how:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.button-leave {
  color: var(--main-color);
  background-color: var(--bgcolor);
  border: 1px solid #fd9222;
}

.button-leave:hover,
.button-leave:focus {
  color: var(--button-text);
  background-color: #fd9222;
}

.button-subscr {
  padding: 14px 40px;
  border-color: transparent;
  background-color: var(--accent-color);
  font-size: 18px;
}
