

.slick-track{
    margin-top: 50px;
    display: flex;
    
}
.slick-list{
    overflow: hidden;
}


.slider .slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13px;
    margin-top: 31px;
}
 
 
 .slick-slide:last-child {
     margin-right: 0;
 }

.slider .slick-dots li {
    list-style: none;
}
.slider .slick-dots button {
    font-size: 0;
    padding: 0;
    border-color: transparent;
    border-radius: 50%;
    width: 13px;
    height: 13px;
    background: rgba(17, 17, 17, 0.1);
}

.slider .slick-dots li.slick-active button{
    width: 28px;
    height: 13px;
    background: #FD9222;
    border-radius: 32px;
}

.chocolate-box{
    
    
    text-align: center;
    border: 1px solid rgba(17, 17, 17, 0.1);
    box-shadow: 0px 9.04932px 26.5717px rgba(215, 228, 249, 0.25);
    border-radius: 15px;
    padding-top: 56px;
    padding-bottom: 26px;
    padding-left: 24px;
    padding-right: 24px;      
}

@media (min-width:768px) {
    .chocolate-box{
        padding-left: 16px;
        padding-right: 16px;
    }
}

@media (min-width:1200px) {
    .chocolate-box {
        padding-left: 24px;
        padding-right: 24px;
      
    }
}



.special-box{
    padding-bottom: 42px;
}

.chocolate-cont{
    max-width: 335px;
}


@media (min-width:1200px) {
    .chocolate-cont {
        max-width: 360px;
    }

}





.image-chocolate {

    position: relative;

    top: 40px;
    right: -125px;

}

@media (min-width:768px) {
    .image-chocolate {
        right: -130px;
    }
}

@media (min-width:1200px) {
    .image-chocolate {
        right: -140px;
    }
}

.button-leave{
    margin-right: auto;
        margin-left: auto;
        display: flex;
        margin-top: 50px;
}
.chocolate-section{
    padding-bottom: 128px;
}

.chocolate-title{
    margin-bottom: 24px;
}