/* Стили для подложки */

.modal-overlay {
  /* Скрываем подложку  */
  opacity: 0;
  visibility: hidden;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* z-index: 20; */
  transition: 0.3s all;
}

/* Стили для модальных окон */

.modal {
  /* Скрываем окна  */
  opacity: 0;
  visibility: hidden;

  /*  Установаем ширину окна  */
  width: 100%;

  /*  Центрируем и задаем z-index */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
  z-index: 30;
  /* Должен быть выше чем у подложки*/

  /*  Побочные стили   */
  box-shadow: 0 3px 10px -0.5px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  background-color: #fff;
  transition: 0.3s all;
}

/* Стили для активных классов подложки и окна */

.modal.active {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, -50%) scale(1);
}
.modal-overlay.active {
  opacity: 1;
  visibility: visible;
}

/* Стили для кнопки закрытия */

.modal__cross {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 20px;
  right: 20px;
  stroke: #111111;
  cursor: pointer;
}

/* Стили для кнопок. Мы ведь порядочные разработчики, негоже простые ссылки оставлять */

.form a {
  padding: 20px;
  display: inline-block;
  text-decoration: none;
  /* background-color: #414b52; */
  color: #111111;
  border-radius: 15px;
}

/* My styles */

/* ----------------------MODAL BUY NOW---------------------- */

@media screen and (max-width: 767px) {
  .form .modal-buy-now,
  .form .modal-leave {
    max-width: 311px;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

@media screen and (min-width: 768px) {
  .form .modal-buy-now {
    width: 513px;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 48px;
    padding-right: 48px;
  }
}

.form .wrapper {
  margin-left: 40px;
  margin-right: 40px;
}

.slick-track {
  margin-top: 32px;
}

.weight-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background: #ffffff;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  padding-top: 32px;
  padding-bottom: 28px;
  padding-left: 32px;
  padding-right: 32px;
}

@media screen and (min-width: 768px) {
  .weight-item {
    padding-top: 24px;
    padding-bottom: 18px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (min-width: 280px) {
  .weight-item {
    width: 134px;
  }
}
@media screen and (min-width: 300px) {
  .weight-item {
    width: 154px;
  }
}
@media screen and (min-width: 320px) {
  .weight-item {
    width: 164px;
  }
}

.slider .slick-dots {
  margin-top: 14px;
}

.form .form-container {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 767px) {
  .form .form-container {
    margin-top: 32px;
    margin-left: 24px;
    margin-right: 24px;
  }
}
@media screen and (min-width: 768px) {
  .form .form-container {
    margin-top: 40px;
    margin-left: 0;
    margin-right: 0;
  }
}

.form-name {
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;
}

@media screen and (min-width: 768px) {
  .form-name {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) {
  .form-name .label {
    width: 100%;
  }
}

.form-info {
  display: flex;
  flex-direction: column;
}

.form-name .input {
  margin-bottom: 14px;
}
.input,
.input-surname,
.text-area {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
}
@media screen and (min-width: 768px) {
  .input,
  .input-surname,
  .text-area {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
  }
  .button-buy {
    padding: 14px 40px;
  }
}
.input-surname {
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 18px;
  width: 241px;

  border: 1.5px solid rgba(17, 17, 17, 0.05);
  border-radius: 8px;
}

.form-info .input {
  margin-bottom: 18px;
}

@media screen and (min-width: 768px) {
  .form-name .input {
    width: 222px;
    margin-right: 20px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .form-name .input-surname {
    width: 222px;
  }
}

.label {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: var(--label-text);

  margin-bottom: 8px;
}

.input {
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 18px;
  width: 241px;

  border: 1.5px solid rgba(17, 17, 17, 0.05);
  border-radius: 8px;
}

@media screen and (min-width: 768px) {
  .input {
    padding-top: 22px;
    padding-bottom: 22px;
    padding-left: 24px;
    width: 489px;
  }
}

.ua-icon {
  width: 24px;
  height: 18px;
}

@media screen and (min-width: 768px) {
  .ua-icon {
    width: 32px;
    height: 24px;
  }
}

.number-code {
  font-weight: 500;
  line-height: 1.21;
  letter-spacing: -0.02em;
  color: var(--label-text);

  margin-left: 8px;
}

@media screen and (min-width: 768px) {
  .number-code {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: -0.02em;
    color: var(--label-text);

    margin-left: 18px;
  }
}

.card-icon {
  position: absolute;
  width: 22px;
  height: 13px;
  right: 0;
  top: 50%;
  transform: translate(-19px, -50%);
}

@media screen and (min-width: 768px) {
  .card-icon {
    width: 30px;
    height: 18px;
  }
}

.number-icons {
  display: flex;
  position: absolute;
  align-items: center;
  width: 74px;
  left: 0;
  top: 50%;
  transform: translate(19px, -50%);

  border-right: 1.5px solid rgba(64, 64, 64, 0.3);
}

@media screen and (min-width: 768px) {
  .number-icons {
    width: 125px;
  }
}

.number-box,
.card-box {
  position: relative;
  margin-bottom: 18px;
}

.number-box .input,
.card-box .input {
  margin: 0;
}

.number-box .input {
  padding-left: 106px;
  width: 157px;
}

@media screen and (min-width: 768px) {
  .number-box .input {
    padding-left: 177px;
    width: 336px;
  }
}

.number-line {
  fill: rgba(255, 255, 255, 0.7);
}

.text-area {
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  border-radius: 8px;
  padding-top: 14px;
  padding-left: 18px;
  width: 245px;
  height: 91px;
  resize: none;
}

@media screen and (min-width: 768px) {
  .text-area {
    padding-top: 22px;
    padding-left: 24px;
    width: 489px;
    height: 137px;
  }
}

.form .button {
  margin-top: 18px;
}

@media screen and (min-width: 768px) {
  .modal .wrapper {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .table-buy-how {
    display: none;
  }
}

.table-buy-how {
  margin-top: 32px;
}

.table-buy-cards {
  display: flex;
  gap: 16px;
}

.weight-item .products-box {
  padding: 0;
}

/* ---------------------MODAL LEAVE A REVIEW---------------------- */

.modal-leave .section-title,
.modal-leave .section-title-tablet {
  text-align: start;
}

@media screen and (max-width: 767px) {
  .modal-leave .section-title-tablet {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .modal-leave .section-title-tablet {
    display: block;
  }
  .modal-leave .section-title {
    display: none;
  }
}

.form .modal-leave {
  padding-left: 24px;
  padding-right: 24px;
}

@media screen and (min-width: 768px) {
  .form .modal-leave {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.modal-leave .form-container {
  padding: 0;
  margin: 0;
  margin-top: 32px;
}

@media screen and (max-width: 767px) {
  .form .modal-leave {
    max-width: 263px;
  }
}

@media screen and (max-width: 767px) {
  .form .modal-subscribe,
  .modal-thanks,
  .modal-feedback {
    max-width: 313px;
  }
}

@media screen and (min-width: 768px) {
  .form .modal-leave,
  .modal-subscribe,
  .modal-thanks,
  .modal-feedback {
    max-width: 513px;
  }
}

.modal-leave .input {
  margin-bottom: 14px;
}

.modal-leave .number-box .input {
  margin-bottom: 0;
}

.modal .section-title,
.section-title-tablet {
  font-size: 20px;
}

/* ------------------------MODAL SUBSCRIBE----------------------- */

.modal-subscribe .modal__cross {
  stroke: var(--button-text);
}

.modal-subscribe-image {
  display: block;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  overflow: hidden;
}
.modal-subscribe .section-title {
  text-align: start;
}

.modal-subscribe .modal-text-container {
  padding-top: 32px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 32px;
}

.modal-subscribe .input {
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  filter: drop-shadow(0px 5.44492px 5.44492px rgba(0, 0, 0, 0.03));
  border-radius: 25px;
}
@media screen and (min-width: 768px) {
  .modal-subscribe .input {
    width: 273px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 18px;
  }
}

.modal-subscribe .form-container {
  margin: 0;
  margin-top: 24px;
}

.modal-subscr-button {
  position: relative;
}
.modal-subscribe .button.button-buy {
  position: absolute;
  margin: 0;
  right: 0;
  top: 0;
}

/* -------------------------THANK YOU & FEEDBACK------------------------ */
.modal-thanks,
.modal-feedback {
  background-color: var(--accent-color);
}
.modal-thanks-image {
  display: block;
  border-bottom-left-radius: 15px;
  overflow: hidden;
  position: absolute;
  left: 0;
  bottom: 0;
}
.modal-thanks .modal__cross,
.modal-feedback .modal__cross {
  padding: 6px;
  width: 24px;
  height: 24px;
  background-color: #fcf1e0;
  border-radius: 50%;
  stroke: #d44528;
}

.modal-thanks .modal-text-section {
  padding-top: 84px;
  padding-left: 68px;
  padding-right: 24px;
  padding-bottom: 170px;
}
.modal-feedback .modal-text-section {
  padding-top: 84px;
  padding-left: 58px;
  padding-right: 24px;
  padding-bottom: 178px;
}
@media screen and (min-width: 768px) {
  .modal-thanks .modal-text-section {
    padding-top: 154px;
    padding-left: 163px;
    padding-right: 44px;
    padding-bottom: 154px;
  }
  .modal-feedback .modal-text-section {
    padding-top: 163px;
    padding-left: 170px;
    padding-right: 49px;
    padding-bottom: 163px;
  }
}

.modal-thanks .section-title,
.modal-thanks .modal-thanks-text,
.modal-feedback .section-title,
.modal-feedback .modal-thanks-text {
  color: #fcf1e0;
  text-align: start;
}

.modal-thanks .modal-thanks-text,
.modal-feedback .modal-thanks-text {
  margin-top: 8px;
}

@media screen and (min-width: 768px) {
  .modal-thanks .section-title,
  .modal-feedback .section-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.17;
  }
  .modal-thanks .modal-thanks-text,
  .modal-feedback .modal-thanks-text {
    font-size: 18px;
    line-height: 1.33;
  }
}
