


      main .offer-section {
        background-color: #1E1823;
        padding-left: 20px;
        padding-top: 20px;
        padding-bottom: 36px;
     }
    
     
     .offer-icon{
         box-sizing: border-box;
         width: 62px;
         height: 62px;
         border: 1px solid rgba(255, 255, 255, 0.5);
         border-radius: 50%;
         display: flex;
         align-items: center;
         justify-content: center;
         margin-bottom: 22px;
     
     }

     .offer-section .container{
        padding-left: 0;
    }
    
     
     .offer-name{
         font-weight: 600;
         font-size: 18px;
     line-height: 1.22;
     color: var(--button-text);
     margin-bottom: 18px;
     }
     
     .offer-text{
         max-width: 308px;
         margin-top: 0;
         font-weight: 400;
     font-size: 14px;
     line-height: 1.21;
     letter-spacing: -0.02em;
     color: rgba(255, 255, 255, 0.7);
     text-align: left;
     }
     
     .offer-item:not(:last-child){
         margin-bottom: 38px;
     }
     



@media (min-width: 375px) and (max-width: 767px) {

main .offer-section {
   
        padding-bottom: 36px;
     }

.offer-icon{
    box-sizing: border-box;
    width: 62px;
    height: 62px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 22px;

}

.offer-section .container{
    padding-left: 0;
}

.offer-name{
    font-weight: 600;
    font-size: 18px;
line-height: 1.22;
color: #FFFFFF;
margin-bottom: 18px;
}

.offer-text{
    max-width: 308px;
    margin-top: 0;
    font-weight: 400;
font-size: 14px;
line-height: 1.21;
letter-spacing: -0.02em;
color: rgba(255, 255, 255, 0.7);
text-align: left;
}

.offer-item:not(:last-child){
    margin-bottom: 38px;
}

}

@media (min-width: 768px) and (max-width: 1199px) {

    main .offer-section {
   
        padding-top: 50px;
        padding-bottom: 50px;
     }
     .offer-section .container{
        padding-left: 32px;

     }

.offer-list{
    display: flex;
    flex-wrap: wrap;
}

.offer-list .offer-item{
    width: calc((100% - 60px) / 2);
    margin-bottom: 32px;
}

.offer-item:nth-child(2n+1){
    margin-right: 60px;
}

.offer-text{
    min-width: 308px;
}

.offer-item:nth-last-child(-n + 2){
    margin-bottom: 0;
}

    }
    





