/* -------------------SWIPER-------------- */

.swiper {
  padding-top: 32px;
  z-index: 2;
  height: 410px;
}

.swiper-slide {
  width: 100%;
}

.image-wrapper {
  padding-top: 32px;
  text-align: center;
  max-width: 335px;
  background: #ffffff;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
}

.image-wrapper img {
  display: inline-block;
}

.image-slider .swiper-button-next::after,
.image-slider .swiper-button-prev::after {
  color: blueviolet;
  font-size: 90px;
}

.image-slider .swiper-pagination-bullet {
  width: 13px;
  height: 13px;
  background: rgba(17, 17, 17, 0.553);
}
.image-slider .swiper-pagination-bullet-active {
  width: 28px;
  height: 13px;
  border-radius: 32px;
  background: #fd9222;
}

/* -------------------Our Products-------------- */
.products-box {
  padding-top: 8px;
  padding-bottom: 32px;
}

.products-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--main-color);
}

.products-text {
  margin-top: 2px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: var(--products-text);
}

.products-button {
  margin-top: 18px;
  padding: 8px 20px;
  background: #fafafa;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 100px;

  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  color: var(--main-color);
  transition: 0.5s;
}

.products-button:hover {
  background-color: var(--accent-color);
  color: var(--button-text);
}
