/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./carousel.css');
@import url('./header.css');
@import url('./offer.css');
@import url('./taste.css');
@import url('./how-made.css');
@import url('./our-products.css');
@import url('./top-sellers.css');
@import url('./chocolate.css');
@import url('./subscribe.css');
@import url('./footer.css');
@import url('./button.css');
@import url('./form.css');

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  /* ------------------------------------------------------ */
  --main-color: #111111;
  --accent-color: #fd9222;
  --products-text: rgba(17, 17, 17, 0.7);
  --bgcolor: #fafafa;
  --bgmenu: #1e1823;
  --button-text: #ffffff;
  --label-text: #000000;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: var(--main-color);
  line-height: 1.29;
  letter-spacing: -0.02em;
  background-color: var(--bgcolor);
  opacity: 1;
  transition: 3s;
}

.section {
  padding-top: 72px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}

@media screen and (max-width: 374px) {
  .container {
    max-width: 335px;
  }
}

@media screen and (min-width: 375px) {
  .container {
    width: 335px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 704px;
    padding: 0 32px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1136px;
  }
}

.section-title,
.section-title-tablet {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--main-color);
}

.title-accent {
  color: var(--accent-color);
}
