p{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    text-align: center;
    letter-spacing: -0.02em;
    color: var(--main-color);
}
li{
    box-sizing: border-box;
}

.taste-list-chocolate{
    background-color: var(--accent-color);
    border: 1px solid var(--accent-color);
}
.taste-list-nuts{
    background-color: var(--bgmenu);
    border: 1px solid var(--bgmenu);
}
.taste-list-milk,
.taste-list-glaze{
    background: var(--bgcolor);
    border: 1px solid var(--accent-color);
}
.taste-list-chocolate,
.taste-list-nuts,
.taste-list-milk,
.taste-list-glaze{
    padding: 28px 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.description-black,
.description-white{
    position: absolute;
    left: 28px;
    bottom: 28px;

    font-weight: 600;
    font-size: 14px;
    line-height: 1.29;

    letter-spacing: -0.02em;
    text-transform: uppercase;
}
.description-black{
    color: var(--main-color);
}
.description-white{
    color: var(--bgcolor);
}


/* OVERLAY  IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII */
.item-name,
.benefits{
    padding: 6px 16px;
    border-radius: 35px;
}
.item-name{
    background-color: var(--accent-color);
}

.item-name p,
.benefits p{
    font-weight: 400;
    font-size: 10px;
    line-height: 1.2;

    display: flex;
    align-items: center;

    color: var(--bgcolor);
}
.benefits p{
    color: var(--main-color);
}

.benefits{
    background: var(--bgcolor);
    border: 1px solid var(--accent-color);
}

.tags-list{
    display: flex;
    padding: 0;
    gap: 6px;
    margin-top: 8px;
}



@media{
.overlay{
    position: absolute;
    box-sizing: border-box;
    border-radius: 15px;
    top: 0;
    left: 0;
    width: 335px;
    height: 270px;
    background-color: var(--bgcolor);
    padding: 28px;
    z-index: 99;

    transform: translateY(+100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.taste-list li:hover .overlay{
    transform: translateY(0);
}
.text-overlay{
    overflow-y: scroll;
    height: 146px;
    margin-top: 14px;
}

img{
    max-width: 100%;
}
.taste-list{
    padding: 0;
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 32px;
}
.details-text{
    margin-top: 24px;
}
.taste-list-chocolate,
.taste-list-nuts,
.taste-list-milk,
.taste-list-glaze{
    width: 100%;
    max-width: 335px;
    height: 270px;
    border-radius: 15px;
    overflow: hidden;
}
}
  
@media screen and (min-width: 768px) {
.overlay{
    width: 336px;
}
.taste-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
}
.taste-list-chocolate,
.taste-list-nuts,
.taste-list-milk,
.taste-list-glaze{
    max-width: 100%;
    width: 336px;
}
.taste-list-chocolate{
    order: 0;
}
.taste-list-glaze{
    order: 1;
}
.taste-list-milk{
    order: 2;
}
.taste-list-nuts{
    order: 3;
}
.details-text{
    width: 486px;
    margin-left: auto;
    margin-right: auto;
}
}

@media screen and (min-width: 1200px) {
.overlay{
    width: 270px;
}
.taste-list{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 19px;
}
.taste-list-chocolate,
.taste-list-nuts,
.taste-list-milk,
.taste-list-glaze{
    width: 270px;
}
.taste-list-chocolate{
    order: 0;
}
.taste-list-milk{
    order: 1;
}
.taste-list-nuts{
    order: 2;
}
.taste-list-glaze{
    order: 3;
}
}