/* 
    .title-accent{
        color: var(--accent-color);
    }
    .section-title{
      font-weight: 600;
      font-size: 20px;
      line-height: 1.2;
      text-align: center;
      letter-spacing: -0.03em;
      text-transform: uppercase;
      color: var(--main-color);
    }
    p{
      font-weight: 400;
      font-size: 14px;
      line-height: 1.29;
      text-align: center;
      letter-spacing: -0.02em;
      color: var(--main-color);
    }
    .taste-list-chocolate{
      background-color: var(--accent-color);
    }
    .taste-list-nuts{
      background-color: #1E1823;
    }
    .taste-list-milk,
    .taste-list-glaze{
      background: white;
      border: 1px solid #FD9222;
    }
    .taste-list li{
      padding: 28px 0;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .description-black,
    .description-white{
      position: absolute;
      left: 28px;
      bottom: 28px;
    
      font-weight: 600;
      font-size: 14px;
      line-height: 1.29;
      /* identical to box height, or 129% */
    
      /* letter-spacing: -0.02em;
      text-transform: uppercase;
    } */
    .description-black{
      color: var(--main-color);
    }
    .description-white{
      color: white;
    }
    
    @media{
    .container{
      width: 100%;
      max-width: 335px;
      padding: 0 20px;
      margin: 0 auto;
    }
    .taste-list{
      padding: 0;
      gap: 20px;
      display: flex;
      flex-direction: column;
      margin-top: 32px;
    }
    p{
      margin-top: 24px;
    }
    .taste-list li{
      height: 270px;
      border-radius: 15px;
    }
    .taste-photo{
      margin-left: auto;
      margin-right: auto;
    }