/* ---------Top-sellers container styles------------*/
/* mobile */
.topsellers-container-mobile{
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-top: 32px;
}
@media (min-width: 768px){
    .topsellers-container-mobile {
        display: none;
    }
}


/* desktop */
@media(max-width: 767px){
    .topsellers-container{
        display: none;
    }
}
.topsellers-container {
    padding-top: 32px;
}
@media(min-width: 768px){
    .topsellers-container {
        padding-top: 50px;
    }
}


/* -----------top-sellers list styles -------------*/
.topsellers-list{
    display: flex;
   flex-direction: column;
    align-items: center;
    gap: 32px;

    margin-right: auto;
    margin-left: auto;
    
}

@media (min-width: 768px){
    .topsellers-list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 16px;
        margin-bottom: 32px;
    }
}

.topseller-item{
    overflow: hidden;
}

@media (max-width: 1199px){
    .topseller-item-hidden{
        display: none;
    }
}
@media (min-width: 767px) {
    .topseller-item {
        border-radius: 15px;
    }
}



/* top-sellers images styles */
.topseller-image{
    height: auto;
    border-radius: 15px;
}

@media(min-width: 768px){
    .topseller-image {
        max-width: 344px;
    }
}

@media(min-width: 1200px) {
    .topseller-image {
        max-width: 368px;        
    }
}


/* topsellers-info styles */
@media (min-width: 768px){
    .topsellers-info {
        display: flex;
        justify-content: space-between;
    }
}


.topsellers-container-mobile .topsellers-description {
    padding-top: 20px;
    max-width: 100%;
}



@media (min-width: 768px) {
    .topsellers-description {
        flex-basis: 306px; 
    }
}
@media (min-width: 1200px) {
    .topsellers-description {
        flex-basis: 407px;
    }
}
 @media (max-width: 767px){
    .topsellers-button {
            text-align: center;
            margin-left: auto;
            margin-right: auto;
    }
 }




